@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Noticia+Text:400,700&display=swap");

$brand-color: #5474fd;
$text-color: #e8e8e8;

$b-size: 1px;

$text-ff: "Noticia Text", serif;
$title-ff: "Josefin Sans", sans-serif;
