@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

html {
  height: 100%;
  font-size: 10px;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: $title-ff;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0.05rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-family: $text-ff;
  font-weight: 400;
  margin-bottom: 90px;
}

.section {
  height: 100vh;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  &--nav {
    background-color: #044886;
    max-height: 12vh;
    padding: 30px 0;
    background-color: $brand-color;
    position: sticky;
    top: 0;
    min-height: 2em;
    z-index: 3;
  }
  &--why {
    background-color: #473d34;
    background-image: url(../img/bg2.jpg);
    height: 90vh;
  }
  &--what {
    background-color: #333333;
    max-height: 50vh;
    padding: 15px;
  }
  &--house {
    background-color: #694257;
    background-image: url(../img/bg3.jpg);
    height: 80vh;
  }
  &--sea {
    background-color: #a33f26;
    background-image: url(../img/bg4.jpg);
    height: 80vh;
    position: relative;
  }
  &--tourist {
    height: 100vh;
    background-color: #2d2e2e;
    background-image: url(../img/bg5.jpg);
  }
  &--footer {
    height: 40vh;
    padding-bottom: 10px;
    background-color: #232323;
  }
}

.header {
  margin: 150px auto;
  text-align: center;
  color: #ffffff;
  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 4.8rem;
  }
  &__subtitle {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.65rem;
    margin: 15px 0 45px;
  }
  &__search {
    max-width: 645px;
    max-height: 60px;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 500px;
    font-size: 1.4rem;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.3rem;
    border: 2px solid #fff;
    outline: none;
  }
}

.btn {
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $brand-color;
  border: 2px solid #fff;
  min-width: 150px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  transition: all 0.25s ease-in;
  &__text {
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.8;
    display: inline-block;
    max-height: 20px;
  }
  &__svg {
    fill: #fff;
  }
  @include hover {
    background: #fff;
    border: 2px solid $brand-color;

    .btn__text {
      color: $brand-color;
    }
    .btn__svg {
      fill: $brand-color;
    }
  }
  &--why {
    display: inline-block;
    border: 2px solid transparent;
    padding: 23px 38px;
    line-height: 0;
    font-size: 1.6rem;
    font-family: $text-ff;
    margin-top: 15px;
    transition: all 0.25s ease-in;
    @include hover {
      background-color: transparent;
      border: 2px solid $brand-color;
      color: $brand-color;
    }
  }
}

.scroll {
  display: block;
  text-decoration: none;
  margin: 90px auto 0;
  padding: 30px;
  transition: all 0.25s ease-in;
  &__text {
    display: block;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #fff;
    transition: all 0.25s ease-in;
  }
  &__svg {
    display: block;
    margin: 10px auto;
    fill: #fff;
    transition: all 0.25s ease-in;
  }
  @include hover {
    .scroll__text {
      color: $brand-color;
    }
    .scroll__svg {
      fill: $brand-color;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4rem;
  transition: all 0.25s ease-in;
  @include hover {
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: inline-block;
    margin-left: 40px;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: $text-ff;
    color: #ffffff;
    outline: none;
    border-bottom: 2px solid transparent;
    transition: all 0.25s ease-in;
    @include hover {
      text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    }
  }
}

.why {
  display: flex;
  justify-content: space-between;
  &__text {
    width: 48%;
    margin: 100px 100px 0 0;
  }
  &__title {
    font-size: 3.6rem;
    font-family: $text-ff;
    font-weight: 400;
    margin: 0 0 50px 0;
    letter-spacing: -0.1rem;
    text-align: left;
  }
  &__p {
    font-size: 1.6rem;

    margin: 0 0 30px 0;
  }
  &__imgs {
    width: calc(100% - 48% - 100px);
    min-height: 500px;
  }
  &__img {
    position: absolute;
    z-index: 1;
    &--top {
      position: relative;
      left: 0;
    }
    &--bottom {
      position: relative;
      left: 25%;
      top: 0;
    }
  }
}

.what {
  width: 980px;
  margin: 0 auto;
  &__arc {
    stroke: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 20%;
    transform: translate(-50%, 50%);
    z-index: 1;
  }
  &__flex {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    padding: 8px;
    background-color: #333333;
    z-index: 2;
  }
  &__svg {
    fill: $brand-color;
    display: block;
    margin: 0 auto;
    &--select {
      fill: #ff6363;
    }
  }
  &__text {
    display: block;
    font-size: 3.6rem;
    font-family: $text-ff;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
  }
}

.house {
  max-width: 48%;
  // height: 370px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 30px;
  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 25px 0;
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 25px 0;
  }
  &__text {
    font-size: 1.6rem;
    letter-spacing: -0.07rem;
    line-height: 2.5rem;
    margin: 0 0 15px 0;
  }
  &--sea {
    position: relative;
    right: -50%;
  }
}

.tourist {
  max-height: 285px;
  display: flex;
  justify-content: center;
  background-color: #333333;
  &__picture {
    flex-basis: 40%;
  }

  &__text {
    padding: 50px 50px;
    flex-basis: 60%;
  }
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  &__p {
    line-height: 2rem;
    max-height: 100px;
    overflow: hidden;
    &::before {
      display: inline-block;
      content: url(../img/quote.svg);
      width: 20px;
      height: 20px;
    }
  }
}

.footer {
  max-width: 190px;
  text-align: center;
  margin: 0 auto;
  &__logo {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5rem;
    font-family: $title-ff;
    margin: 0 0 10px 0;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
  }
  &__socials {
    margin: 30px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    transition: all 0.25s ease-in;
    @include hover {
      color: $brand-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1060px) {
  .container {
    max-width: 900px;
  }

  .section {
    &--what {
      padding: 0;
      max-height: 40vh;
    }
    &--why {
      height: 85vh;
    }
  }

  .why {
    &__imgs {
      padding: 20px;
      width: calc(100% - 40% - 100px);
    }
    &__img {
      &--top {
        max-width: 95%;
      }
      &--bottom {
        max-width: 95%;
      }
    }
    &__text {
      margin-top: 30px;
      max-width: 40%;
    }
  }

  .what {
    &__arc {
      width: 1000px;
      height: 100px;
      display: block;
      margin: 0 auto;
      left: 28.5%;
    }

    &__flex {
      max-width: 700px;
    }
    &__svg {
      max-width: 40px;
      max-height: 40px;
    }
    &__text {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 930px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  .btn {
    &--why {
      padding: 18px 30px;
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .menu {
    text-align: center;
    &__link {
      font-size: 1.2rem;
    }
  }

  .section {
    &--what {
      max-height: 30vh;
    }
    &--why {
      height: 73vh;
      padding: 50px;
    }
    &--tourist {
      padding: 30px;
      height: 73vh;
    }
    &--footer {
      height: 30vh;
      padding: 30px;
    }
  }

  .what {
    max-width: 700px;
    &__arc {
      width: 900px;
      height: 80px;

      left: 26%;
    }

    &__flex {
      max-width: 500px;
      margin: 0 auto;
    }
    &__svg {
      max-width: 30px;
      max-height: 30px;
    }
    &__text {
      font-size: 1.5rem;
    }
  }

  .tourist {
    &__picture {
      flex-basis: 70%;
      max-width: 400px;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
    }
    &__text {
      flex-basis: 70%;
    }
  }
}

@media screen and (max-width: 790px) {
  .container {
    max-width: 550px;
  }

  .header {
    &__input {
      letter-spacing: 0.1rem;
    }
  }

  .menu {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    &__item {
      margin: 10px 0 0 20px;
      width: 130px;
      display: inline-block;
    }
    &__link {
      font-size: 1.5rem;
    }
  }

  .section {
    &--nav {
      padding: 15px;
    }
    &--what {
      max-height: 30vh;
    }
    &--why {
      height: 60vh;
    }
    &--tourist {
      padding: 20px;
      height: 75vh;
    }
    &--sea {
      height: 70vh;
    }
    &--house {
      height: 70vh;
    }
  }

  .what {
    max-width: 500px;
    &__arc {
      width: 800px;
      height: 80px;

      left: 16%;
    }
  }

  .why {
    &__title {
      font-size: 2.5rem;
      margin-bottom: 25px;
    }
    &__imgs {
      padding: 20px;
      width: calc(100% - 40% - 50px);
    }
    &__img {
      &--top {
        max-width: 95%;
      }
      &--bottom {
        max-width: 95%;
      }
    }
    &__text {
      margin: 20px 50px 0 0;
      max-width: 40%;
    }
    &__p {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .house {
    padding: 30px;
    max-width: 60%;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 1.3rem;
    }
  }

  h2 {
    font-size: 2.5rem;
    margin: 30px;
  }

  .tourist {
    display: block;
    background-color: transparent;
    &__picture {
      max-width: 550px;
      max-height: 200px;
      overflow: hidden;
    }
    &__img {
      width: 550px;
    }
    &__text {
      background-color: #333333;
      padding: 30px;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__p {
      max-height: 60px;
      overflow: hidden;
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 400px;
  }

  .header {
    &__title {
      font-size: 3.5rem;
    }
    &__subtitle {
      font-size: 1.7rem;
      letter-spacing: 0.4rem;
    }
    &__input {
      width: 300px;
    }
  }

  .btn {
    &--why {
      padding: 15px 20px;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  nav {
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 auto;
  }

  .menu {
    max-width: 100%;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section {
    &--nav {
      max-height: 17vh;
    }
    &--what {
      max-height: 25vh;
    }
    &--why {
      height: 97vh;
      padding: 30px;
    }
    &--tourist {
      padding: 17px;
      height: 70vh;
    }
    &--footer {
      height: 23vh;
      padding: 30px;
    }
    &--sea {
      height: 50vh;
      padding: 45px;
    }
    &--house {
      height: 50vh;
      padding: 45px;
    }
  }

  .what {
    max-width: 400px;
    &__arc {
      width: 600px;
      height: 60px;

      left: 18%;
    }
  }

  .why {
    flex-wrap: wrap;
    &__title {
      font-size: 1.5rem;

      letter-spacing: 0;
    }
    &__imgs {
      padding: 40px;
      width: 100%;
    }
    &__img {
      &--top {
        max-width: 90%;
        left: 0;
      }
      &--bottom {
        max-width: 90%;
        left: 0;
      }
    }
    &__text {
      margin: 20px 0 0 0;
      max-width: 100%;
    }
    &__p {
      display: inline-block;
      width: 400px;
    }
  }

  .house {
    max-width: 100%;

    &--sea {
      max-width: 100%;
      left: 0;
    }
  }

  .tourist {
    max-height: 600px;
    width: 400px;
    &__picture {
      width: 400px;
      max-height: 150px;
    }
    &__img {
      display: inline-block;
    }
    &__text {
      max-height: 250px;
      width: 400px;
    }
  }
}
@media screen and (max-width: 466px) {
  .container {
    max-width: 350px;
  }

  .header {
    &__title {
      font-size: 2.8rem;
    }
    &__subtitle {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      margin-top: 5px;
    }
    &__input {
      letter-spacing: 0.1rem;
      width: 200px;
    }
  }

  .menu {
    &__item {
      margin: 10px 0 0 20px;
      width: 130px;
      display: inline-block;
    }
    &__link {
      font-size: 1.5rem;
    }
  }

  .section {
    padding: 50px;

    &--nav {
      padding: 15px;
      max-height: 17vh;
    }
    &--what {
      padding: 0;
      max-height: 18vh;
    }
    &--why {
      height: 75vh;
      padding: 30px;
    }
    &--tourist {
      padding: 17px;
      height: 72vh;
    }
    &--footer {
      height: 23vh;
      padding: 30px;
    }
    &--sea {
      height: 53vh;
      padding: 45px;
    }
    &--house {
      height: 53vh;
      padding: 45px;
    }
  }

  .what {
    max-width: 350px;
    &__arc {
      width: 500px;
      height: 50px;

      left: 20%;
    }

    &__flex {
      max-width: 500px;
      margin: 0 auto;
    }
    &__svg {
      max-width: 20px;
      max-height: 20px;
    }
    &__text {
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .why {
    &__img {
      &--top {
        max-width: 100%;
      }
      &--bottom {
        display: none;
        max-width: 100%;
      }
    }

    &__p {
      font-size: 1.4rem;
      margin-bottom: 20px;
      width: 340px;
    }
  }

  .house {
    padding: 30px;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 1.3rem;
    }
    &--sea {
      max-width: 100%;
      left: 0;
    }
  }

  h2 {
    font-size: 2.5rem;
    margin: 30px;
  }

  .tourist {
    display: block;
    background-color: transparent;
    max-height: 600px;
    width: 300px;
    &__picture {
      width: 350px;
      max-height: 200px;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      margin-left: -30%;
    }
    &__text {
      background-color: #333333;
      padding: 30px;
      max-height: 300px;
      width: 350px;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__p {
      max-height: 60px;
      overflow: hidden;
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 280px;
  }

  .btn {
    &--why {
      padding: 10px 5px;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .menu {
    max-width: 100%;

    &__item {
      margin: 10px 0 0 10px;
      width: 130px;
      display: inline-block;
    }
    &__link {
      font-size: 1.3rem;
    }
  }

  .section {
    &--nav {
      padding: 15px;
      max-height: 15vh;
    }
    &--what {
      padding: 0;
      max-height: 18vh;
    }
    &--why {
      height: 70vh;
      padding: 30px;
    }
    &--tourist {
      padding: 17px;
      height: 70vh;
    }
    &--footer {
      height: 23vh;
      padding: 30px;
    }
    &--sea {
      height: 50vh;
      padding: 45px;
    }
    &--house {
      height: 50vh;
      padding: 45px;
    }
  }

  .what {
    max-width: 290px;
    &__arc {
      width: 400px;
      height: 40px;
      display: block;
      margin: 0 auto;
      left: 21%;
    }
  }

  .why {
    &__title {
      font-size: 1.5rem;
      margin-bottom: 25px;
      letter-spacing: 0;
    }
    &__imgs {
      padding: 40px;
      width: 100%;
    }
    &__img {
      &--top {
        max-width: 100%;
      }
      &--bottom {
        display: none;
        max-width: 100%;
      }
    }
    &__text {
      margin: 20px 0 0 0;
      max-width: 100%;
    }
    &__p {
      font-size: 1.4rem;
      margin-bottom: 20px;
      display: inline-block;
      width: 270px;
    }
  }

  .house {
    padding: 20px;
    max-width: 100%;
    &__title {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 1.3rem;
    }
    &--sea {
      max-width: 100%;
      left: 0;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin: 30px;
  }

  .tourist {
    width: 257px;
    &__picture {
      width: 270px;
      max-height: 200px;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      margin-left: -70%;
    }
    &__text {
      background-color: #333333;
      padding: 30px;
      max-height: 300px;
      width: 270px;
    }
    &__title {
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 365px) {
  .header {
    &__input {
      letter-spacing: 0.1rem;
      width: 150px;
    }
  }

  .btn {
    width: 80px;
    &__text {
      display: none;
    }
  }

  .section {
    padding: 50px;
    &--nav {
      padding: 15px;
      max-height: 15vh;
    }
    &--what {
      padding: 0;
      max-height: 18vh;
    }
    &--why {
      height: 67vh;
      padding: 30px;
    }
    &--tourist {
      padding: 17px;
      height: 70vh;
    }
    &--footer {
      height: 23vh;
      padding: 30px;
    }
    &--sea {
      height: 50vh;
      padding: 45px;
    }
    &--house {
      height: 50vh;
      padding: 45px;
    }
  }

  .what {
    max-width: 290px;
    &__arc {
      width: 400px;
      height: 40px;
      display: block;
      margin: 0 auto;
      left: 21%;
    }

    &__svg {
      max-width: 20px;
      max-height: 20px;
    }
    &__text {
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .tourist {
    max-height: 600px;
    width: 257px;

    &__p {
      max-height: 60px;
      overflow: hidden;
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 335px) {
  .container {
    max-width: 250px;
    margin: 0 auto;
  }

  .btn {
    &--why {
      padding: 10px 5px;
      font-size: 1.1rem;
      text-align: center;
      width: 120px;
      margin-top: 10px;
    }
  }

  .logo {
    font-size: 1.8rem;
  }

  .menu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      margin: 10px 0 0 10px;
      width: 100px;
      display: inline-block;
    }
    &__link {
      font-size: 1.1rem;
    }
  }

  .section {
    padding: 50px;
    &--nav {
      padding: 10px;
      max-height: 13vh;
    }
    &--what {
      padding: 0;
      max-height: 15vh;
    }
    &--why {
      height: 61vh;
      padding: 20px;
    }
    &--tourist {
      padding: 17px;
      height: 70vh;
    }
    &--footer {
      height: 23vh;
      padding: 30px;
    }
    &--sea {
      height: 45vh;
      padding: 25px;
    }
    &--house {
      height: 45vh;
      padding: 25px;
    }
  }

  .what {
    max-width: 250px;
    &__arc {
      width: 350px;
      height: 35px;
      display: block;
      margin: 0 auto;
      left: 21%;
    }

    &__svg {
      max-width: 20px;
      max-height: 20px;
    }
    &__text {
      margin-top: 10px;
      font-size: 1rem;
    }
  }

  .why {
    flex-wrap: wrap;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 25px;
      letter-spacing: 0;
    }
    &__imgs {
      padding: 40px;
      width: 100%;
    }
    &__img {
      &--top {
        max-width: 100%;
      }
      &--bottom {
        display: none;
        max-width: 100%;
      }
    }
    &__text {
      margin: 20px 0 0 0;
      max-width: 100%;
    }
    &__p {
      font-size: 1.4rem;
      margin-bottom: 20px;
      display: inline-block;
      width: 270px;
    }
  }

  .house {
    padding: px;
    max-width: 100%;
    &__title {
      font-size: 1.3rem;
      margin-bottom: 15px;
    }
    &__subtitle {
      font-size: 1.3rem;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    &--sea {
      max-width: 100%;
      left: 0;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin: 30px;
  }

  .tourist {
    display: block;
    background-color: transparent;
    max-height: 600px;
    width: 240px;
    &__picture {
      width: 240px;
      max-height: 200px;
      overflow: hidden;
    }
    &__img {
      display: inline-block;
      margin-left: -80%;
    }
    &__text {
      background-color: #333333;
      padding: 30px;
      max-height: 300px;
      width: 240px;
    }
    &__title {
      font-size: 1.2rem;
    }
    &__p {
      max-height: 60px;
      overflow: hidden;
      font-size: 1.1rem;
    }
  }
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #999999;
  opacity: 1;
}

::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

:-moz-placeholder {
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}
